.gridTileLeft > ::ng-deep .mat-grid-tile-content {
    justify-content: start !important;
}
.gridTileRight > ::ng-deep .mat-grid-tile-content {
    justify-content: end !important;
}
.addBtn{
    background: #1976d2;
    color: white;
}